[Unit]
Description=InstSeq Service

[Service]
Type=simple
User=vagrant
Group=vagrant
ExecStart=/bin/bash /home/vagrant/ics_pack/installation/run_InstSeq.sh

[Install]
WantedBy=multi-user.target
